

<div class="card-product">
    <img src = <%=@car.image_url %>/>
      <div class="card-product-btn">
        <% if @car.favourites.empty? %>
          <div style ="position: absolute, top: -100px">
            <%= simple_form_for [@car, @favourite] do |f| %>
              <%= f.submit "Add to favourites"%>
              <% end %>
            <% else %>
              <p>This car is already in your garage!
            <% end %>
        </div>
    </div>



      <div class="card-product-info">
          <div>
            <h1><%= @car.brand %> </h1>
            <h2><%= @car.model%> </h2>
            <p><%= @car.fuel%></p>
            <p><%= @car.year%></p>
          </div>
          <div>
            <h2>write your review here</h2>

            <%= simple_form_for [@car, @review] do |f| %>
              <%= f.input :comment %>
              <%= f.input :rating, collection: 1..5 %>
              <%= f.submit "submit"%>
            <% end %>
          </div>
      </div>

      <hr>
        <div class="card-product-comment">
            <% @car.reviews.each do |review|%>
                <p><%= review.comment %></p>
                <p><%= 'â­ï¸' * review.rating %></p>
              <%end%>
        </div>


</div>
